<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iversonx.ibatis.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.iversonx.ibatis.entity.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user(account, sex, is_delete)
        values(#{account}, #{sex}, #{isDelete})
    </insert>
</mapper>