<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iversonx.ibatis.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.iversonx.ibatis.entity.User">
        insert into user(account, sex, is_delete)
        values(#{account}, #{sex}, #{isDelete})
    </insert>
    
    <select id="getById" parameterType="long" resultType="com.iversonx.ibatis.entity.User">
        select id, account, sex, is_delete isDelete FROM user WHERE id = #{id}
    </select>
</mapper>